body {
    font-family: Poppins, Helvetica, sans-serif;
}

header {
    display: grid;
    min-height: 100px;
    grid-row: 1;
}

aside {
    grid-row: 3;
}

h1 {
    font-size: 50px;
    line-height: 1;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 25px;
    padding: 20px;
}

p {
    line-height: 20px;
    padding: 20px;
}
nav {
    display: inline-block;
    margin: 0;
    padding: 10px;
    margin-top: 10px;
}

nav li {
    display: inline;
    font-size: 20px;
    padding: 8px;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

main {
    margin: 30px;
    grid-column: 1;
    grid-row: 2;
}


figure {
    align-content: center;
    width: 100%;
}

figcaption {
    font-weight: bold;
    padding: 20px;
}

img {
    margin: 20px;
    padding: 10px;
    border: solid;
    border-color: #26428b;
    border-radius: 10px;
}

.gallery-item img {
    width: 40%;
}

.gallery-item {
    display: flex;
    text-align: center;
    align-content: center;

}

.gallery {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.principles {
    background-color: #26428b;
    border-radius: 10px;
}

.principle-content {
    color: white;
}

img:hover {
    opacity: 0.5;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 100px 100px;
}

.book {
    animation: fadeIn 5s, moveIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveIn {
    from {
        margin-top: 200%;
    }
    to {
        margin-top: 0%;
    }
}

form {
    padding: 20px;
}

footer {
    background-image: url("../images/background.jpg");
    grid-row: 4;
    grid-column: 1/-1;
    font-weight: bold;
    padding: 20px;
}

/* Links */

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: black;
}

a:hover {
    text-decoration: underline;
}

.active-link {
    background-color: #26428b;
    border-radius: 10px;
    padding: 10px;
    color: white;
}


/* Skip to Main Function*/

.skip a {
    position: absolute;
    top: -50px;
    z-index: -1;
    color: black;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;
}


@media all and (min-width: 700px) {

    .container {

    }

    .gallery {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media (prefers-reduced-motion) {

    .book {
        animation: none;
    }
}